SISAP_WAP/Fuentes/Old_App_WebReferences/Autenticar/Autenticar.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="IsAutenticado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dominio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAutenticadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsAutenticadoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsAutenticadoSoapIn">
    <wsdl:part name="parameters" element="tns:IsAutenticado" />
  </wsdl:message>
  <wsdl:message name="IsAutenticadoSoapOut">
    <wsdl:part name="parameters" element="tns:IsAutenticadoResponse" />
  </wsdl:message>
  <wsdl:portType name="AutenticarSoap">
    <wsdl:operation name="IsAutenticado">
      <wsdl:input message="tns:IsAutenticadoSoapIn" />
      <wsdl:output message="tns:IsAutenticadoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutenticarSoap" type="tns:AutenticarSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsAutenticado">
      <soap:operation soapAction="http://tempuri.org/IsAutenticado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutenticarSoap12" type="tns:AutenticarSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsAutenticado">
      <soap12:operation soapAction="http://tempuri.org/IsAutenticado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Autenticar">
    <wsdl:port name="AutenticarSoap" binding="tns:AutenticarSoap">
      <soap:address location="http://sicafws-dev.pfizer.com/Autenticar.asmx" />
    </wsdl:port>
    <wsdl:port name="AutenticarSoap12" binding="tns:AutenticarSoap12">
      <soap12:address location="http://sicafws-dev.pfizer.com/Autenticar.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>